extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message

      app-home-list 

    .col-12.col-md-4
      p.lead= sidebar

block scripts
  script(src='/build/runtime.ec2944dd8b20ec099bf3.js')
  script(src='/build/polyfills.7037a817a5bb670ed2ca.js')
  script(src='/build/main.ab11ffae986bb24d6e8b.js')


